<h3>Bay Delta Actions Consequences</h3>
<ul class="nav nav-stacked" id="accordion1">

  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">
      May to August outflow X2 actions
    </a>

    <ul id="firstLink" class="collapse">
      This little section should talk a little bit more about this action, the benefits and why it is being modeled.
      X2 at 74, 81 km through May-Aug, keep at 74 May-June then 81 Jul-Aug
      <hr>
      <p>Select a variable to see details</p>
      {{ ui_variable_select_action_x2 }}
    </ul>
  </li>

  <li class="panel"> 

    <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">
      Increase entrainment (routing) into north delta
    </a>
    <ul id="secondLink" class="collapse">
      Sutter and Steamboat with bioacoustic fish fence 
      <hr>
      <p>Select a variable to see details</p>
      {{ ui_variable_select_action_fish_fence}}
    </ul>
  </li>

  <li class="panel"> 

    <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">
      Increase entrainment (routing) into north delta
    </a>
    <ul id="thirdLink" class="collapse">
      Yolo Bypass (big notch) to allow flows between 3000 and 12000 cfs for passage and FP inundation
      <hr>
      {{ ui_variable_select_action_yolo_bypass}}
    </ul>
  </li>

  <li class="panel">
   <a data-toggle="collapse" data-parent="#accordion1" href="#fourthLink">
    Trap transport (barge salmonids) south delta from above Vernalis
  </a>
  <ul id="fourthLink" class="collapse">
    Talk about this one a little bit more here.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#fifthLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="fifthLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#sixthLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="sixthLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#seventhLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="seventhLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#eighthLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="eighthLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#nineLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="nineLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#tenLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="tenLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#elevenLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="elevenLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

<li class="panel"> 
  <a data-toggle="collapse" data-parent="#accordion1" href="#twelveLink">
    Yolo Bypass increase food production by augmenting flow in the Yolo Bypass July and September
  </a>
  <ul id="twelveLink" class="collapse">
    talk a little bit more about this one.
  </ul>
</li>

</ul>
